.login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    height: 6vw;
    width: 15vw;
}

.login-block form {
    padding: 2vw;
}
.login-block .active-form {
    border-color: red;
}

.login-block input[type="text"],
.login-block input[type="email"],
.login-block input[type="password"] {
    border-color: #eeeeee #cccccc #cccccc #eeeeee;
    border-right: 1px solid #cccccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0 0 1vw;
    padding: 2.2vw;
    width: 45vw;
}


@media screen and (min-width: 44em) {

    .login-block {
        height: 110vh;
    }

    .login-block input[type="text"],
    .login-block input[type="email"],
    .login-block input[type="password"] {
        border-color: #eeeeee #cccccc #cccccc #eeeeee;
        border-right: 1px solid #cccccc;
        border-style: solid;
        border-width: 1px;
        margin: 0 0 1vw;
        padding: 2.2vw;
        width: 37.5vw;
}
}

@media screen and (min-width: 78em ) {
    .login-block input[type="text"],
    .login-block input[type="email"],
    .login-block input[type="password"] {

        width: 12vw;
        padding: 1vw;
    }

    .button {
        height: 2.5vw;
        width: 4.5vw;
    }

}