.groupWorkout-box-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-workout {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-cell-workout {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
}

.flex-cell-workout:before {
    content: '';
    display: table;
    padding-top: 100%;
}

/*#77808d*/

.flex-item-workout {
    flex: 1 1 auto;
    border: 1px solid black;
    /*background: #77808d;*/
    background-image: linear-gradient(to bottom right, #364c59, #59717f);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    border-radius: 8px;
}

@media screen and (min-width: 50em) {

    .flex-cell-workout{
        flex: 0 0 50%;
    }

    .weight-tracker-single {
        flex: 1 1 auto;
    }

    .group-weight-tracker {
        flex: 1 1 auto;
    }

    .personal-sabotages {
        flex: 1 1 auto;
    }

    .personal-points {
        flex: 1 1 auto;
    }

    .sign-up {
        flex: 1 1 auto;
    }

    .admin-cell {
        flex: 1 1 auto;
    }
    .contact-cell {
        flex: 1 1 auto;
    }
    .point-tracker-full {
        flex: 0 0 100%;
    }


}

@media screen and (min-width: 80em) {

    .flex-cell-workout {
        flex: 0 0 50%;
    }

    .weight-tracker-single {
        flex: 1 1 auto;
    }

    .group-weight-tracker {
        flex: 1 1 auto;
    }

    .personal-sabotages {
        flex: 1 1 auto;
    }

    .personal-points {
        flex: 1 1 auto;
    }
    .sign-up {
        flex: 1 1 auto;
    }

    .admin-cell {
        flex: 1 1 auto;
    }
    .contact-cell {
        flex: 1 1 auto;
    }
    .point-tracker-full {
        flex: 0 0 100%;
    }

}