body {
    margin: 0;
    background-color: #cacdd6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-div {
    display: flex;
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

