.contact-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.submit-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
}
label{
    padding: 10px;
}