
    .small-screen-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 2em;
    }

    .small-screen-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;

    }

    .footer-nav a {
        display: block;
        background: #111;
        color: #fff;
        text-decoration: none;
        padding: .8em 1.8em;
        text-transform: uppercase;
        font-size: 50%;
        letter-spacing: 2px;
        /*text-shadow: 0 -1px 0 #000;*/
        width: 10vw;
        position: relative;
    }

    .footer-nav {
        vertical-align: top;
        display: inline-block;
        box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
        border-radius: 6px;
    }

    .footer-nav li {
        position: relative;
    }

    .footer-nav > li {
        float: left;
        border-bottom: 4px #aaa solid;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .footer-nav > li > a {
        margin-bottom: 1px;
        box-shadow: inset 0 2em .33em -.5em #555;
    }

    .footer-nav > li:hover, .footer-nav > li:hover > a {
        border-bottom-color: #bc4123;
    }

    .footer-nav li:hover > a {
        color: #bc4123;
    }

    .footer-nav > li:first-child {
        border-radius: 4px 0 0 4px;
    }

    .footer-nav > li:first-child > a {
        border-radius: 4px 0 0 0;
    }

    .footer-nav > li:last-child {
        border-radius: 0 0 4px 0;
        margin-right: 0;
    }

    .footer-nav > li:last-child > a {
        border-radius: 0 4px 0 0;
    }

    .footer-nav li li a {
        margin-top: 0px
    }


    .footer-nav li a:first-child:nth-last-child(2):before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border: 5px solid transparent;
        top: 70%;
        right: 2px;
    }


    /* submenu positioning*/
    .footer-nav ul {
        position: absolute;
        white-space: nowrap;
        border-bottom: 5px solid #bc4123;
        z-index: 1;
        left: -99999em;
    }

    .footer-nav > li:hover > ul {
        left: auto;
        padding-top: 4px;
        min-width: 100%;
    }

    .footer-nav > li li ul {
        border-left: 1px solid #fff;
    }


    .footer-nav > li li:hover > ul {
        /* margin-left: 1px */
        left: 100%;
        top: -1px;
    }

    /* arrow hover styling */
    .footer-nav > li > a:first-child:nth-last-child(2):before {
        border-top-color: #aaa;
    }

    .footer-nav > li:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-bottom-color: #bc4123;
        margin-top: -5px
    }

    .footer-nav li li > a:first-child:nth-last-child(2):before {
        border-left-color: #aaa;
        margin-top: -5px
    }

    .footer-nav li li:hover > a:first-child:nth-last-child(2):before {
        border: 5px solid transparent;
        border-right-color: #bc4123;
        right: 10px;
    }



